.banner {
  background: url(../../images/banner/hero-banner-2.jpg) no-repeat 50% 50% / cover;
  background-attachment: fixed;
  height: 100vh;

  .bg-parallax {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  img {
    display: block;
    max-width: none;
    width: 100%;
  }

  .container {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 100%;
    transform: translateY(-50%);
    z-index: 2;
  }

  h1,
  h4 {
    color: rgba($white, 1);
  }

  .btn {
    border: 0;
    font-size: 20px;
    line-height: 36px;
    z-index: 1;
    display: inline-block;
    min-width: 220px;
    border-radius: 50px;
    text-transform: none;
  }
}

.has-overlay {
  position: relative;
  z-index: 1;
  overflow: hidden;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($black, 0.7);
  }
}

.services-section {
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: url(../../images/banner/services-banner.jpg) no-repeat 50% 50% / cover;
  background-attachment: fixed;

  .icon {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 20px;
    width: 80px;

    @include media('>=tablet') {
      width: 120px;
    }

    svg {
      fill: $white !important;
    }
  }

  h4 {
    font-size: 14px;

    @include media('>=tablet') {
      font-size: 22px;
    }
  }
}

.team-section {
  .img-holder {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;

    @include media('>=tablet') {
      width: 180px;
      height: 180px;
    }
  }

  h4 {
    font-size: 13px;

    @include media('>=tablet') {
      font-size: 16px;
    }

    @include media('>=desktop') {
      font-size: 22px;
    }
  }

  p {
    font-size: 12px;

    @include media('>=tablet') {
      font-size: 14px;
    }

    @include media('>=desktop') {
      font-size: 18px;
    }
  }
}

.google-map-holder {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  width: 100%;
  height: 395px;
  background-color: rgb(229, 227, 223);
  box-shadow: 0 25px 40px 2px rgba(62, 56, 117, 0.07);

  .map-marker {
    position: absolute;
    top: -9999px;
    right: -9999px;
    opacity: 0;
    visibility: hidden;
  }

  .btn-map {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
  }
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.inner__map-holder {
  border-radius: 5px;
  width: 100%;
  overflow: hidden;

  iframe {
    width: 100%;
    height: 100%;
  }
}

.si-wrapper-top {
  max-width: 195px !important;
  margin-top: -50px;
  margin-left: -1px;

  .si-content-wrapper {
    position: relative;
    border: 0;
    padding: 25px 10px 25px 40px;
    box-shadow: 0 4px 9px rgba(0, 0, 0, 0.05);
    font-size: 10px;
    line-height: 17px;
    color: #0c3d62;
    font-weight: 500;
    overflow: hidden;

    &:before {
      content: "\e902";
      position: absolute;
      left: 20px;
      top: 28px;
      font-family: 'icomoon';
      font-size: 14px;
      line-height: 1;
      font-weight: normal;
      color: $green;
    }
  }
}

.si-pointer-top.si-pointer-border-top {
  border-top-color: transparent;
}

.si-pointer-top.si-pointer-bg-top {
  margin-top: -10px;
}

.si-shadow-frame {
  display: none !important;
}

canvas {
  width: 100%;
  height: 100%
}